.category {
    width: 100%;
    height: 100%;
}
.category h1 {
    text-align: center;
}
.categorysCard {
   height: 90%;
}
.categoryCard {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 90%;
    margin: auto;
}
.card {
    width: 22%;
    height: 200px;
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.123), rgb(180, 167, 31)),
    url('../images/bg-book.jpg');
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}
.card:hover{
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.123), rgb(231, 213, 14)),
    url('../images/bg-book.jpg');
}
.cate_text{
    height: 35%;
    margin-top: 120px;
}
.cate_text h1{
    margin: auto;
}
#categorys{
    color: rgb(255, 255, 255);
    border-top: 8px solid orange;
}