/*searching about a book */

.chercherBook{
    /* background-color: aqua; */
    display: flex;
}
.chercherBook form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2% 0;
}
::placeholder{
    color: white;
}
.chercherBook form input[type='text']  {
    width: 40%;
    height: 30px;
    padding-left:15px ;
    font-weight: 700;
    background-color: black;
    color: #fc962f;
}   
.chercherBook form input[type='submit'] {
    background-color: #fc962f;
    color: black;
    font-weight: 700;
    border-style: none;
    padding: 0 15px ;
}
.chercherBook form input[type='submit']:hover{
    background-color: black;
    color: #fc962f;
}
#findBook{
    color: rgb(255, 255, 255);
    border-top: 8px solid orange;
}