:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(30, 100%, 50%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

body {
    padding-bottom: 0;
    background-image: url(kk.jpg);
    background-size: cover;
    user-select: none;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
   
   
}
i{
    color: rgb(255, 255, 255);
    
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
    border: 5px double rgb(15, 14, 14);
    background-color: rgba(112, 112, 112, 0.57);
    border-radius: 20px;
    margin-left: 33%;
    margin-right: 33%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 40px;
    font-weight: var(--weight1);
    color: rgb(255, 255, 255);
    letter-spacing: 0.07em; 

}

h1:last-of-type {
    color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;

    }
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 0px;
    margin-top: 20px;
}




.box p {
    color:rgba(240, 248, 255, 0.609);
    font-size: 20px;
    padding-bottom: 15px;
    letter-spacing: 0.1em; 
    
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 50px -20px var(--grayishBlue);
    padding: 20px;
    margin: 20px;  
    text-align: center;
    cursor: pointer;
    
}
span{color: rgb(8, 173, 32);
    

}




@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 8px solid var(--cyan);
}
.red {
    border-top: 8px solid var(--red);
}
.blue {
    border-top: 8px solid var(--blue);
}
.orange {
    border-top: 8px solid var(--orange);
}

h3 {
    color:aliceblue;
    font-weight: var(--weight3);
    padding-bottom: 5px;
    letter-spacing: 0.07em; 
}


@media (min-width: 950px) {
    .row1-container {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 0px;
    }
    .box {
        width: 20%;
     
    }
    .header p {
        width: 30%;
    }
    
}
.navBar{
    width:100%;
    background-color: rgb(0, 0, 0);
    height: 80px;
    
    
    
}
.logoIMG{
    padding-left: 41%;
    padding-top: 0px;
}
div .box.box-down.cyan{
    background-color: rgba(0, 0, 0, 0.608);
   
    
}
div .box.box-down.blue{
    background-color: rgba(0, 0, 0, 0.608);
}
div .box.red{
    background-color: rgba(0, 0, 0, 0.608);
}
div .box.orange{
    background-color: rgba(0, 0, 0, 0.608);
}
div .box:hover{
    box-shadow: 5px 10px 20px black;
}


 a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

   

}

*{
    padding: 0;
    margin: 0;
}




.title{
   
    font-weight: 900;
    letter-spacing: 0.2ch;
    font-family: "Josefin Sans", sans-serif;} 
img{
    height: 80px;
   
}





