* {
    padding: 0;
    margin: 0;
}
body {
    /* background-image: url(kk.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* navbar */
.nav_Bar {
    text-align: center;
}
.logo_IMG {
    background-color: black;
    height: 60px;
}
.logo_IMG img {
    height: 100%;
}
.title_page {
    background-color: #fc962f;
    padding: 12px 0;
}

/*body*/

.page {
    display: flex;
    width: 100%;
    height: 91.5vh;
    }

.menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(0, 0, 0);
    font-family: "Josefin Sans", sans-serif;
    
    /* background: #00416a;  */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(
        to left,
        #ffffff00,
        #000000
    ); */
     /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(
        to left,
        #ffffff00,
        #000000
    );  */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.content {
    flex: 3.4;
}

.card_option {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    
}
.logout_btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 8%;
}
.menu button {
    margin: auto;
    width: 30%;
    height: 45px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: rgb(66, 65, 65);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(160, 160, 160);
}
.card_option  a:hover {
    border-top: 8px solid orange;
    color: orange;
}
.card_option a {
    text-decoration: none;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    margin: 25px  5px;
    background-color: rgb(66, 65, 65);
    font-size: 1.1rem;
    font-weight: 100;
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
    font-family: "Josefin Sans", sans-serif;
}

/*category */
